html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  display: block;
  text-align: center;
  font-weight: bold;
  margin: .1em;
  font-family: Bevan, serif;
}

ul {
  list-style-type: none;
  text-align: center;
  margin-top: 0;
}

ul li {
  display: inline-block;
  padding: .5em;
  font-family: sans-serif;
}

.intro li {
  max-width: 20em;
  background-color: #713837;
  border-radius: 5px;
  margin: .1em;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
}

body {
  background-color: #79756f;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #595652;
  border-bottom-color: #595652;
  margin: 0;
  padding: 0;
}

.intro a:hover {
  display: inline-block;
  background-color: #f33;
}
